<header>
  <b><%= title %></b> | <a href="/users">Usuários</a> | <a href="/products">Produtos</a> | <a href="/products/categoria/Acessórios">Acessórios</a> | <a href="/products/categoria/Móveis e Decoração">Móveis e Decoração</a>
</header>